@page "/Productos/Index"
@inject ProductosService ProductosService;
@rendermode InteractiveServer

<EditForm Model="ListaProductos" class="border shadow-lg p-3 rounded">

    <div class="card-header bg-primary text-white text-center py-2 rounded">
        <h3 style="font-weight: bold;" class="mb-0 font-weight-bold">Consulta Productos</h3>
    </div>
    <div class="card-body">

        <div class="row mb-3 align-items-end">
            <div class="col-md-3">
                <label for="Filtro" class="form-label">Filtrar por:</label>
                <select @bind="filtro" class="form-select">
                    <option value="codigoProducto">Código Producto</option>
                    <option value="nombre">Nombre</option>
                    <option value="categoria">Categoría</option>
                </select>
            </div>
            <div class="col-md-6">
                <label for="ValorFiltro" class="form-label">Búsqueda:</label>
                <div class="input-group">
                    <input @bind="valorFiltro" class="form-control" placeholder="Buscar" />
                    <button @onclick="Buscar" class="btn btn-outline-primary" type="button">
                        <span class="bi bi-search"></span> Buscar
                    </button>
                </div>
            </div>
            <div class="col-md-3 text-end">
                <a href="/Productos/Create" class="btn btn-success" type="button"><span class="bi bi-floppy"></span> Crear </a>
            </div>
        </div>
    </div>

    <table class="table table-bordered text-center">
        <thead class="bg-primary text-white">
            <tr>
                <th>Código Producto</th>
                <th>Nombre</th>
                <th>Descripción</th>
                <th>Precio</th>
                <th>Categoría</th>
                <th>Proveedor</th>
                <th>Activo</th>
                <th>Editar</th>
                <th>Eliminar</th>
            </tr>
        </thead>
        <tbody>
            @if (ListaProductos != null && ListaProductos.Any())
            {
                @foreach (var producto in ListaProductos)
                {
                    <tr>
                        <td>@producto.CodigoProducto</td>
                        <td>@producto.Nombre</td>
                        <td>@producto.Descripcion</td>
                        <td>$@producto.Precio</td>
                        <td>@producto.Categoria</td>
                        <td>@producto.Proveedor</td>
                        <td>@(producto.EstaActivo ? "Sí" : "No")</td>
                        <td>
                            <a class="btn btn-outline-success" href="/Productos/Edit/@producto.ProductoId">
                                <span class="bi bi-marker-tip"></span>
                            </a>
                        </td>

                        <td>
                            <a class="btn btn-outline-warning" href="/Productos/Delete/@producto.ProductoId">
                                <span class="bi bi-dash-circle-fill"></span>
                            </a>
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="9">No hay registros disponibles</td>
                </tr>
            }
        </tbody>
    </table>
</EditForm>

@code {

    public Productos Producto = new Productos();

    public List<Productos> ListaProductos = new List<Productos>();

    private string filtro = "codigoProducto";
    private string valorFiltro = "";

    protected override async Task OnInitializedAsync()
    {
        ListaProductos = await ProductosService.Listar(c => true);
    }

    public async Task Guardar()
    {
        var guardo = await ProductosService.Guardar(Producto);
    }

    private async Task Buscar()
    {
        if (valorFiltro.Trim() != "")
        {
            if (filtro == "codigoProducto")
            {
                ListaProductos = await ProductosService.Listar(p => p.CodigoProducto.Contains(valorFiltro));
            }
            else if (filtro == "nombre")
            {
                ListaProductos = await ProductosService.Listar(p => p.Nombre.Contains(valorFiltro));
            }
            else if (filtro == "categoria")
            {
                ListaProductos = await ProductosService.Listar(p => p.Categoria == valorFiltro);
            }
        }
        else
        {
            ListaProductos = await ProductosService.Listar(p => true);
        }
    }
}


